/* 
    Document   : Style1
*/

.root{
    -fx-font-size: 15pt;
    -fx-font-family: Calibri Light;
    -fx-background-color: #9ABEE3;
}

.button{
    -fx-text-fill: #C9DAEC;
    -fx-background-color: linear-gradient(to bottom, #446C96, derive(#446C96,+30%));    
}

.choice-box{
    -fx-text-fill: #2B5581;
    -fx-background-color: #446C96;
}

.button:hover{
    -fx-background-color: linear-gradient(to top, #446C96, derive(#446C96,+30%)); 
}

.text{
    -fx-text-fill: #2B5581;
}

#Header {
    -fx-font: bold italic 28pt "Calibri Light";    
}

.label{
    -fx-text-fill: #2B5581;
}

.text-field{
    -fx-text-fill: #2B5581;
    -fx-background-color: #C9DAEC;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #C9DAEC;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, #446C96, #9ABEE3);
}

.menu-bar > .container > .menu-button:hover {
    -fx-background-color: #446C96;
}

.menu-item >.label {
    -fx-text-fill: -fx-text-base-color;
}

.menu-item:hover {
    -fx-background-color: #C9DAEC;
}

.menu-item:focused {
    -fx-background-color: #C9DAEC;
}

.titled-pane > *.content {
    -fx-border-color: #2B5581;
}

.chart-legend {
   -fx-background-color: derive(#446C96,+20%);
}

.chart-legend-item-symbol{
   -fx-background-radius: 10;
}

.chart-legend-item{
    -fx-text-fill: #E5EDF5;
}

.chart-plot-background {
    -fx-background-color: #C9DAEC;
}

#tableHeader {
    -fx-font: bold 14pt "Calibri";
    -fx-text-fill: #2B5581;
}

#tableData {
    -fx-font: 14pt "Calibri Light";
    -fx-text-fill: #2B5581;
}

.text-area {
    -fx-background-color: #9ABEE3;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}



